<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applifit.bilifit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.applifit.bilifit.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.applifit.bilifit.MainActivity"
            android:label="@string/title_activity_main_activity" >
        </activity>
        <activity
            android:name="com.applifit.bilifit.VerifLogin"
            android:label="@string/title_activity_verif_login" >
        </activity>
        <activity
            android:name="com.applifit.bilifit.Profile"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name="com.applifit.bilifit.AfficheForm"
            android:label="@string/title_activity_affiche_form" >
        </activity>
        <activity
            android:name="com.applifit.bilifit.RemplirForm"
            android:label="@string/title_activity_remplir_form" >
        </activity>
        <activity
            android:name="com.applifit.bilifit.ModifProfile"
            android:label="@string/title_activity_modif_profile" >
        </activity>
        <activity
            android:name="com.applifit.bilifit.Dashboard"
            android:label="@string/title_activity_dashboard" >
        </activity>
        <activity
            android:name="com.applifit.bilifit.ListForm"
            android:label="@string/title_activity_list_form" >
        </activity>
        <activity
            android:name="com.applifit.bilifit.ActivityEnregistrer"
            android:label="@string/title_activity_activity_enregistrer" >
        </activity>
        <activity
            android:name="com.applifit.bilifit.DataBase.Install"
            android:label="@string/title_activity_install" >
        </activity>
        <activity
            android:name="com.applifit.bilifit.Recuperer"
            android:label="@string/title_activity_recuperer" >
        </activity>
        <activity
            android:name="com.applifit.bilifit.Notif"
            android:label="@string/title_activity_notif" >
        </activity>

        <service
            android:name="com.applifit.bilifit.DataBase.MyService"
            android:exported="false" >
            <intent-filter>
	    		<action android:name="com.applifit.bilifit.DataBase.MyService" />
  			</intent-filter>
        </service>
         <service
            android:name="com.applifit.bilifit.DataBase.ServiceCollecte"
            android:exported="false" >
            <intent-filter>
	    		<action android:name="com.applifit.bilifit.DataBase.ServiceCollecte" />
  			</intent-filter>
        </service>

        <activity
            android:name="com.applifit.bilifit.Synchron"
            android:label="@string/title_activity_synchron" >
            <intent-filter>
	    		<action android:name="android.intent.action.BOOT_COMPLETED" />
	    		<category android:name="android.intent.category.HOME" />
  			</intent-filter>
        </activity>
    </application>
    

</manifest>